# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Banco local
*.sqlite
*.sqlite3
*.db

# Testes / build
coverage/
dist/
build/

# Logs
*.log
npm-debug.log*

# Sistema / editor
.DS_Store
Thumbs.db
desktop.ini
.vscode/*
!.vscode/settings.json
.idea/
